# scene_clustering
This notebook contains inital code for clustering frames into shots, identifying the A/B/A/B pattern, and using the image classifier model to see if they're MCUs

In [1]:
import sys
import os
sys.path.append('site-packages') # manually put all packages/libraries into this folder
from keras.preprocessing import image
from keras.preprocessing.image import ImageDataGenerator, array_to_img, img_to_array, load_img
from keras.applications.vgg16 import VGG16
from keras.applications.vgg16 import preprocess_input
from keras import models
import numpy as np
import pandas as pd
from sklearn.cluster import KMeans, AgglomerativeClustering

Using TensorFlow backend.

## Clustering
### For POC, designating a specific scene's worth of frames

In [47]:
# input film and frame 
# film = 'booksmart'
# frame_choice = list(range(1001, 1163)) # good example for Booksmart!!! 6 clusters, 2500 distance_threshold

# film = 'hobbs_shaw'
# frame_choice = list(range(701, 858)) # Hobbs and Shaw, Jason Statham vs. Helen Mirren, 2,500

# film = 'parasite'
# frame_choice = list(range(1666, 1836)) # Parasite, tough because Mrs. Park and Jessica are both right-oc

film = 'parasite'
frame_choice = list(range(6687, 6777)) # Parasite, tough because Mrs. Park and Jessica are both right-oc

In [48]:
# establish folder for this film
dialogue_folder = os.path.join('dialogue_frames', film)

print('There are', len(os.listdir(dialogue_folder)), 'images in the folder')
print('Selected', len(frame_choice), 'of those frames')

There are 7782 images in the folder
Selected 90 of those frames

In [49]:
model = VGG16(weights='imagenet', include_top=False)
model.summary()

vgg16_feature_list = []


for x in frame_choice:
    img_path = dialogue_folder + '/' + film + '_frame'+ str(x) + '.jpg'
    img = image.load_img(img_path, target_size=(224, 224))
    img_data = image.img_to_array(img)
    img_data = np.expand_dims(img_data, axis=0)
    img_data = preprocess_input(img_data)

    vgg16_feature = model.predict(img_data)
    vgg16_feature_np = np.array(vgg16_feature)
    vgg16_feature_list.append(vgg16_feature_np.flatten())

    x += 1

Model: "vgg16"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_3 (InputLayer)         (None, None, None, 3)     0
_________________________________________________________________
block1_conv1 (Conv2D)        (None, None, None, 64)    1792
_________________________________________________________________
block1_conv2 (Conv2D)        (None, None, None, 64)    36928
_________________________________________________________________
block1_pool (MaxPooling2D)   (None, None, None, 64)    0
_________________________________________________________________
block2_conv1 (Conv2D)        (None, None, None, 128)   73856
_________________________________________________________________
block2_conv2 (Conv2D)        (None, None, None, 128)   147584
_________________________________________________________________
block2_pool (MaxPooling2D)   (None, None, None, 128)   0
_________________________________________________________________
block3_conv1 (Conv2D)        (None, None, None, 256)   295168
_________________________________________________________________
block3_conv2 (Conv2D)        (None, None, None, 256)   590080
_________________________________________________________________
block3_conv3 (Conv2D)        (None, None, None, 256)   590080
_________________________________________________________________
block3_pool (MaxPooling2D)   (None, None, None, 256)   0
_________________________________________________________________
block4_conv1 (Conv2D)        (None, None, None, 512)   1180160
_________________________________________________________________
block4_conv2 (Conv2D)        (None, None, None, 512)   2359808
_________________________________________________________________
block4_conv3 (Conv2D)        (None, None, None, 512)   2359808
_________________________________________________________________
block4_pool (MaxPooling2D)   (None, None, None, 512)   0
_________________________________________________________________
block5_conv1 (Conv2D)        (None, None, None, 512)   2359808
_________________________________________________________________
block5_conv2 (Conv2D)        (None, None, None, 512)   2359808
_________________________________________________________________
block5_conv3 (Conv2D)        (None, None, None, 512)   2359808
_________________________________________________________________
block5_pool (MaxPooling2D)   (None, None, None, 512)   0
=================================================================
Total params: 14,714,688
Trainable params: 14,714,688
Non-trainable params: 0
_________________________________________________________________

In [50]:
vgg16_feature_list_np = np.array(vgg16_feature_list)
vgg16_feature_list_np.shape

(90, 25088)

In [105]:
hac = AgglomerativeClustering(n_clusters = None, distance_threshold = 2900).fit(vgg16_feature_list_np)
print('Number of clusters:', hac.n_clusters_)
print(hac.labels_)

Number of clusters: 5
[1 1 1 1 1 1 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 2 4 4 4 4 0 0 0 0 4 4 4 4
 4 4 4 4 4 4 4 4 0 0 0 0 0 0 4 4 1 1 1 0 0 0 0 4 4 0 0 0 0 3 3 3 3 3 3 3 3
 3 3 3 3 0 0 3 3 3 3 3 3 0 0 0 0]

## Load Saved Model and Identify MCUs

In [13]:
tuned_model = models.load_model('saved_models/tuned_model')

In [94]:
image_list = []
for x in frame_choice:
    image_list.append(img_to_array(load_img(dialogue_folder + '/' + film + '_frame'+ str(x) + '.jpg', target_size = (128, 128), color_mode = 'grayscale')))

In [95]:
image_array = np.array(image_list)
y_pred = tuned_model.predict_classes(image_array)

In [96]:
for frame, cluster, prediction in zip(frame_choice, hac.labels_, list(y_pred)):
    print(frame, cluster, prediction[0])

6687 1 0
6688 1 0
6689 1 0
6690 1 0
6691 1 1
6692 1 0
6693 2 0
6694 2 0
6695 2 0
6696 2 0
6697 2 0
6698 2 0
6699 2 1
6700 2 1
6701 2 1
6702 2 0
6703 2 1
6704 2 0
6705 2 0
6706 2 1
6707 2 0
6708 2 1
6709 2 1
6710 2 1
6711 2 1
6712 4 1
6713 4 1
6714 4 1
6715 4 1
6716 0 1
6717 0 1
6718 0 1
6719 0 1
6720 4 1
6721 4 1
6722 4 1
6723 4 1
6724 4 1
6725 4 1
6726 4 0
6727 4 1
6728 4 1
6729 4 1
6730 4 0
6731 4 0
6732 0 1
6733 0 1
6734 0 1
6735 0 1
6736 0 1
6737 0 1
6738 4 1
6739 4 1
6740 1 1
6741 1 1
6742 1 1
6743 0 0
6744 0 1
6745 0 1
6746 0 1
6747 4 1
6748 4 1
6749 0 1
6750 0 1
6751 0 1
6752 0 1
6753 3 1
6754 3 1
6755 3 1
6756 3 1
6757 3 1
6758 3 1
6759 3 1
6760 3 1
6761 3 1
6762 3 1
6763 3 1
6764 3 1
6765 0 1
6766 0 1
6767 3 1
6768 3 1
6769 3 1
6770 3 1
6771 3 1
6772 3 1
6773 0 1
6774 0 1
6775 0 1
6776 0 1

In [97]:
y_pred_values = []
for prediction in y_pred:
    y_pred_values.append(prediction[0])

In [98]:
scene_df = pd.DataFrame(zip(frame_choice, hac.labels_, y_pred_values), columns=['frame_file', 'cluster', 'mcu'])
scene_df

    frame_file  cluster  mcu
0         6687        1    0
1         6688        1    0
2         6689        1    0
3         6690        1    0
4         6691        1    1
..         ...      ...  ...
85        6772        3    1
86        6773        0    1
87        6774        0    1
88        6775        0    1
89        6776        0    1

[90 rows x 3 columns]

In [101]:
for x in range(0, 5):
    print(x, scene_df.loc[scene_df['cluster'] == x]['mcu'].mean())

0 0.9583333333333334
1 0.4444444444444444
2 0.47368421052631576
3 1.0
4 0.85

In [102]:
scene_df.loc[scene_df['frame_file'] == 750]

Empty DataFrame
Columns: [frame_file, cluster, mcu]
Index: []

In [103]:
scene_df.loc[scene_df['cluster'] == 2]

    frame_file  cluster  mcu
6         6693        2    0
7         6694        2    0
8         6695        2    0
9         6696        2    0
10        6697        2    0
11        6698        2    0
12        6699        2    1
13        6700        2    1
14        6701        2    1
15        6702        2    0
16        6703        2    1
17        6704        2    0
18        6705        2    0
19        6706        2    1
20        6707        2    0
21        6708        2    1
22        6709        2    1
23        6710        2    1
24        6711        2    1

In [26]:
pd.options.display.max_rows=200

In [27]:
scene_df.loc[scene_df['mcu'] == 1]

     frame_file  cluster  mcu
0           701        1    1
3           704        1    1
4           705        0    1
7           708        4    1
8           709        4    1
9           710        4    1
18          719        0    1
19          720        0    1
20          721        0    1
21          722        0    1
25          726        0    1
26          727        0    1
27          728        0    1
28          729        0    1
29          730        8    1
30          731        8    1
31          732        8    1
32          733        8    1
33          734        3    1
34          735        3    1
35          736        8    1
36          737        8    1
37          738        8    1
38          739        3    1
39          740        3    1
40          741        3    1
41          742        8    1
42          743        3    1
43          744        8    1
44          745        8    1
45          746        3    1
46          747        3    1
53          754        3    1
54          755        3    1
55          756        8    1
56          757        8    1
57          758        8    1
58          759        8    1
59          760        0    1
61          762        2    1
62          763        1    1
64          765        3    1
65          766        3    1
67          768        2    1
68          769        3    1
69          770        3    1
70          771        3    1
71          772        3    1
76          777        3    1
77          778        3    1
80          781        2    1
81          782        3    1
86          787        1    1
87          788        1    1
88          789        1    1
89          790        3    1
96          797        6    1
97          798        6    1
100         801        8    1
101         802        8    1
102         803        0    1
103         804        0    1
104         805        0    1
105         806        0    1
106         807        8    1
107         808        8    1
108         809        3    1
109         810        3    1
110         811        3    1
113         814        3    1
114         815        3    1
115         816        2    1
116         817        2    1
117         818        2    1
118         819        2    1
119         820        2    1
120         821        2    1
121         822        2    1
122         823        2    1
123         824        2    1
124         825        2    1
125         826        3    1
126         827        3    1
129         830        0    1
131         832        3    1
132         833        3    1
134         835        2    1
135         836        3    1
136         837        3    1
137         838        3    1
140         841        0    1
141         842        8    1
142         843        8    1
143         844        8    1
144         845        3    1
145         846        1    1
146         847        1    1
147         848        1    1
149         850        0    1
150         851        1    1
151         852        1    1
152         853        7    1
153         854        7    1
154         855        7    1
155         856        7    1
156         857        7    1

### Initial pass at scene pattern algorithm

In [104]:

# prev_cluster changes every single frame
# stored_cluster changes only on cluster change
# alternate_counter changes only on cluster change

prev_cluster = 1000
stored_cluster = 1000
alternate_counter = 1
print('frame\t', 'mcu\t', 'clust\t', 'prev\t', 'stored\t', 'alternate')

for frame_file, cluster, mcu_flag in zip(frame_choice, hac.labels_, y_pred_values):
    #print(frame_file, '\t', mcu_flag, '\t', cluster, '\t', prev_cluster, '\t', stored_cluster, '\t', alternate_counter)
    if stored_cluster == 1000:
        stored_cluster = prev_cluster
    elif cluster != prev_cluster:
        if cluster == stored_cluster:
            alternate_counter += 1
        else:
            alternate_counter = 1
        stored_cluster = prev_cluster
    print(frame_file, '\t', mcu_flag, '\t', cluster, '\t', prev_cluster, '\t', stored_cluster, '\t', alternate_counter)
    prev_cluster = cluster

frame	 mcu	 clust	 prev	 stored	 alternate
6687 	 0 	 1 	 1000 	 1000 	 1
6688 	 0 	 1 	 1 	 1 	 1
6689 	 0 	 1 	 1 	 1 	 1
6690 	 0 	 1 	 1 	 1 	 1
6691 	 1 	 1 	 1 	 1 	 1
6692 	 0 	 1 	 1 	 1 	 1
6693 	 0 	 2 	 1 	 1 	 1
6694 	 0 	 2 	 2 	 1 	 1
6695 	 0 	 2 	 2 	 1 	 1
6696 	 0 	 2 	 2 	 1 	 1
6697 	 0 	 2 	 2 	 1 	 1
6698 	 0 	 2 	 2 	 1 	 1
6699 	 1 	 2 	 2 	 1 	 1
6700 	 1 	 2 	 2 	 1 	 1
6701 	 1 	 2 	 2 	 1 	 1
6702 	 0 	 2 	 2 	 1 	 1
6703 	 1 	 2 	 2 	 1 	 1
6704 	 0 	 2 	 2 	 1 	 1
6705 	 0 	 2 	 2 	 1 	 1
6706 	 1 	 2 	 2 	 1 	 1
6707 	 0 	 2 	 2 	 1 	 1
6708 	 1 	 2 	 2 	 1 	 1
6709 	 1 	 2 	 2 	 1 	 1
6710 	 1 	 2 	 2 	 1 	 1
6711 	 1 	 2 	 2 	 1 	 1
6712 	 1 	 4 	 2 	 2 	 1
6713 	 1 	 4 	 4 	 2 	 1
6714 	 1 	 4 	 4 	 2 	 1
6715 	 1 	 4 	 4 	 2 	 1
6716 	 1 	 0 	 4 	 4 	 1
6717 	 1 	 0 	 0 	 4 	 1
6718 	 1 	 0 	 0 	 4 	 1
6719 	 1 	 0 	 0 	 4 	 1
6720 	 1 	 4 	 0 	 0 	 2
6721 	 1 	 4 	 4 	 0 	 2
6722 	 1 	 4 	 4 	 0 	 2
6723 	 1 	 4 	 4 	 0 	 2
6724 	 1 	 4 	 4 	 0 	 2
6725 	 1 	 4 	 4 	 0 	 2
6726 	 0 	 4 	 4 	 0 	 2
6727 	 1 	 4 	 4 	 0 	 2
6728 	 1 	 4 	 4 	 0 	 2
6729 	 1 	 4 	 4 	 0 	 2
6730 	 0 	 4 	 4 	 0 	 2
6731 	 0 	 4 	 4 	 0 	 2
6732 	 1 	 0 	 4 	 4 	 3
6733 	 1 	 0 	 0 	 4 	 3
6734 	 1 	 0 	 0 	 4 	 3
6735 	 1 	 0 	 0 	 4 	 3
6736 	 1 	 0 	 0 	 4 	 3
6737 	 1 	 0 	 0 	 4 	 3
6738 	 1 	 4 	 0 	 0 	 4
6739 	 1 	 4 	 4 	 0 	 4
6740 	 1 	 1 	 4 	 4 	 1
6741 	 1 	 1 	 1 	 4 	 1
6742 	 1 	 1 	 1 	 4 	 1
6743 	 0 	 0 	 1 	 1 	 1
6744 	 1 	 0 	 0 	 1 	 1
6745 	 1 	 0 	 0 	 1 	 1
6746 	 1 	 0 	 0 	 1 	 1
6747 	 1 	 4 	 0 	 0 	 1
6748 	 1 	 4 	 4 	 0 	 1
6749 	 1 	 0 	 4 	 4 	 2
6750 	 1 	 0 	 0 	 4 	 2
6751 	 1 	 0 	 0 	 4 	 2
6752 	 1 	 0 	 0 	 4 	 2
6753 	 1 	 3 	 0 	 0 	 1
6754 	 1 	 3 	 3 	 0 	 1
6755 	 1 	 3 	 3 	 0 	 1
6756 	 1 	 3 	 3 	 0 	 1
6757 	 1 	 3 	 3 	 0 	 1
6758 	 1 	 3 	 3 	 0 	 1
6759 	 1 	 3 	 3 	 0 	 1
6760 	 1 	 3 	 3 	 0 	 1
6761 	 1 	 3 	 3 	 0 	 1
6762 	 1 	 3 	 3 	 0 	 1
6763 	 1 	 3 	 3 	 0 	 1
6764 	 1 	 3 	 3 	 0 	 1
6765 	 1 	 0 	 3 	 3 	 2
6766 	 1 	 0 	 0 	 3 	 2
6767 	 1 	 3 	 0 	 0 	 3
6768 	 1 	 3 	 3 	 0 	 3
6769 	 1 	 3 	 3 	 0 	 3
6770 	 1 	 3 	 3 	 0 	 3
6771 	 1 	 3 	 3 	 0 	 3
6772 	 1 	 3 	 3 	 0 	 3
6773 	 1 	 0 	 3 	 3 	 4
6774 	 1 	 0 	 0 	 3 	 4
6775 	 1 	 0 	 0 	 3 	 4
6776 	 1 	 0 	 0 	 3 	 4

### Same algorithm, but only displaying clusters with alternate_count > 3

In [30]:
prev_cluster = 1000
stored_cluster = 1000
alternate_counter = 1
print('frame\t', 'mcu\t', 'clust\t', 'prev\t', 'stored\t', 'alternate')

for frame_file, cluster, mcu_flag in zip(frame_choice, hac.labels_, y_pred_values):
    #print(frame_file, '\t', mcu_flag, '\t', cluster, '\t', prev_cluster, '\t', stored_cluster, '\t', alternate_counter)
    if stored_cluster == 1000:
        stored_cluster = prev_cluster
    elif cluster != prev_cluster:
        if cluster == stored_cluster:
            alternate_counter += 1
        else:
            alternate_counter = 1
        stored_cluster = prev_cluster
    #print(frame_file, '\t', mcu_flag, '\t', cluster, '\t', prev_cluster, '\t', stored_cluster, '\t', alternate_counter)
    if alternate_counter >= 3:
        print(frame_file, '\t', mcu_flag, '\t', cluster, '\t', prev_cluster, '\t', stored_cluster, '\t', alternate_counter)
    prev_cluster = cluster

frame	 mcu	 clust	 prev	 stored	 alternate
1732 	 1 	 2 	 1 	 1 	 3
1733 	 1 	 2 	 2 	 1 	 3
1734 	 1 	 2 	 2 	 1 	 3
1735 	 1 	 2 	 2 	 1 	 3
1736 	 1 	 2 	 2 	 1 	 3
1737 	 1 	 2 	 2 	 1 	 3
1738 	 1 	 2 	 2 	 1 	 3
1739 	 0 	 2 	 2 	 1 	 3
1740 	 0 	 2 	 2 	 1 	 3
1741 	 0 	 2 	 2 	 1 	 3
1742 	 1 	 2 	 2 	 1 	 3
1743 	 1 	 2 	 2 	 1 	 3
1744 	 1 	 2 	 2 	 1 	 3
1745 	 1 	 2 	 2 	 1 	 3
1746 	 1 	 1 	 2 	 2 	 4
1747 	 0 	 1 	 1 	 2 	 4
1748 	 0 	 1 	 1 	 2 	 4
1752 	 1 	 8 	 1 	 1 	 3
1753 	 1 	 8 	 8 	 1 	 3
1754 	 1 	 8 	 8 	 1 	 3
1755 	 1 	 8 	 8 	 1 	 3
1756 	 1 	 8 	 8 	 1 	 3
1775 	 1 	 9 	 8 	 8 	 3
1776 	 1 	 9 	 9 	 8 	 3
1777 	 1 	 9 	 9 	 8 	 3
1778 	 1 	 9 	 9 	 8 	 3
1779 	 1 	 8 	 9 	 9 	 4
1780 	 1 	 8 	 8 	 9 	 4
1781 	 1 	 8 	 8 	 9 	 4
1782 	 1 	 8 	 8 	 9 	 4
1783 	 1 	 8 	 8 	 9 	 4
1784 	 1 	 8 	 8 	 9 	 4
1785 	 1 	 8 	 8 	 9 	 4
1786 	 1 	 8 	 8 	 9 	 4
1787 	 1 	 8 	 8 	 9 	 4
1788 	 0 	 8 	 8 	 9 	 4
1789 	 1 	 8 	 8 	 9 	 4
1790 	 0 	 8 	 8 	 9 	 4
1791 	 1 	 8 	 8 	 9 	 4
1792 	 1 	 8 	 8 	 9 	 4
1793 	 1 	 8 	 8 	 9 	 4
1794 	 1 	 9 	 8 	 8 	 5
1795 	 1 	 9 	 9 	 8 	 5
1796 	 1 	 9 	 9 	 8 	 5
1797 	 1 	 9 	 9 	 8 	 5
1798 	 1 	 9 	 9 	 8 	 5
1799 	 1 	 9 	 9 	 8 	 5
1823 	 0 	 0 	 5 	 5 	 3
1824 	 0 	 0 	 0 	 5 	 3
1825 	 0 	 0 	 0 	 5 	 3
1826 	 1 	 5 	 0 	 0 	 4
1827 	 1 	 5 	 5 	 0 	 4
1828 	 1 	 5 	 5 	 0 	 4
1829 	 0 	 5 	 5 	 0 	 4

### Allow for One Extra Storage (for inserts)

In [114]:
prev_cluster = 1000
stored_cluster = [1000, 1001]
alternate_counter = 1
print('frame\t', 'mcu\t', 'clust\t', 'prev\t', 'stored\t', 'alternate')

for frame_file, cluster, mcu_flag in zip(frame_choice, hac.labels_, y_pred_values):
    if 1000 in stored_cluster:
        stored_cluster.append(prev_cluster)
        del stored_cluster[0]
    elif cluster != prev_cluster:
        if cluster in stored_cluster:
            alternate_counter += 1
        else:
            alternate_counter = 1
        stored_cluster.append(prev_cluster)
        del stored_cluster[0]
    print(frame_file, '\t', mcu_flag, '\t', cluster, '\t', prev_cluster, '\t', stored_cluster, '\t', alternate_counter)
    prev_cluster = cluster

frame	 mcu	 clust	 prev	 stored	 alternate
6687 	 0 	 1 	 1000 	 [1001, 1000] 	 1
6688 	 0 	 1 	 1 	 [1000, 1] 	 1
6689 	 0 	 1 	 1 	 [1, 1] 	 1
6690 	 0 	 1 	 1 	 [1, 1] 	 1
6691 	 1 	 1 	 1 	 [1, 1] 	 1
6692 	 0 	 1 	 1 	 [1, 1] 	 1
6693 	 0 	 2 	 1 	 [1, 1] 	 1
6694 	 0 	 2 	 2 	 [1, 1] 	 1
6695 	 0 	 2 	 2 	 [1, 1] 	 1
6696 	 0 	 2 	 2 	 [1, 1] 	 1
6697 	 0 	 2 	 2 	 [1, 1] 	 1
6698 	 0 	 2 	 2 	 [1, 1] 	 1
6699 	 1 	 2 	 2 	 [1, 1] 	 1
6700 	 1 	 2 	 2 	 [1, 1] 	 1
6701 	 1 	 2 	 2 	 [1, 1] 	 1
6702 	 0 	 2 	 2 	 [1, 1] 	 1
6703 	 1 	 2 	 2 	 [1, 1] 	 1
6704 	 0 	 2 	 2 	 [1, 1] 	 1
6705 	 0 	 2 	 2 	 [1, 1] 	 1
6706 	 1 	 2 	 2 	 [1, 1] 	 1
6707 	 0 	 2 	 2 	 [1, 1] 	 1
6708 	 1 	 2 	 2 	 [1, 1] 	 1
6709 	 1 	 2 	 2 	 [1, 1] 	 1
6710 	 1 	 2 	 2 	 [1, 1] 	 1
6711 	 1 	 2 	 2 	 [1, 1] 	 1
6712 	 1 	 4 	 2 	 [1, 2] 	 1
6713 	 1 	 4 	 4 	 [1, 2] 	 1
6714 	 1 	 4 	 4 	 [1, 2] 	 1
6715 	 1 	 4 	 4 	 [1, 2] 	 1
6716 	 1 	 0 	 4 	 [2, 4] 	 1
6717 	 1 	 0 	 0 	 [2, 4] 	 1
6718 	 1 	 0 	 0 	 [2, 4] 	 1
6719 	 1 	 0 	 0 	 [2, 4] 	 1
6720 	 1 	 4 	 0 	 [4, 0] 	 2
6721 	 1 	 4 	 4 	 [4, 0] 	 2
6722 	 1 	 4 	 4 	 [4, 0] 	 2
6723 	 1 	 4 	 4 	 [4, 0] 	 2
6724 	 1 	 4 	 4 	 [4, 0] 	 2
6725 	 1 	 4 	 4 	 [4, 0] 	 2
6726 	 0 	 4 	 4 	 [4, 0] 	 2
6727 	 1 	 4 	 4 	 [4, 0] 	 2
6728 	 1 	 4 	 4 	 [4, 0] 	 2
6729 	 1 	 4 	 4 	 [4, 0] 	 2
6730 	 0 	 4 	 4 	 [4, 0] 	 2
6731 	 0 	 4 	 4 	 [4, 0] 	 2
6732 	 1 	 0 	 4 	 [0, 4] 	 3
6733 	 1 	 0 	 0 	 [0, 4] 	 3
6734 	 1 	 0 	 0 	 [0, 4] 	 3
6735 	 1 	 0 	 0 	 [0, 4] 	 3
6736 	 1 	 0 	 0 	 [0, 4] 	 3
6737 	 1 	 0 	 0 	 [0, 4] 	 3
6738 	 1 	 4 	 0 	 [4, 0] 	 4
6739 	 1 	 4 	 4 	 [4, 0] 	 4
6740 	 1 	 1 	 4 	 [0, 4] 	 1
6741 	 1 	 1 	 1 	 [0, 4] 	 1
6742 	 1 	 1 	 1 	 [0, 4] 	 1
6743 	 0 	 0 	 1 	 [4, 1] 	 2
6744 	 1 	 0 	 0 	 [4, 1] 	 2
6745 	 1 	 0 	 0 	 [4, 1] 	 2
6746 	 1 	 0 	 0 	 [4, 1] 	 2
6747 	 1 	 4 	 0 	 [1, 0] 	 3
6748 	 1 	 4 	 4 	 [1, 0] 	 3
6749 	 1 	 0 	 4 	 [0, 4] 	 4
6750 	 1 	 0 	 0 	 [0, 4] 	 4
6751 	 1 	 0 	 0 	 [0, 4] 	 4
6752 	 1 	 0 	 0 	 [0, 4] 	 4
6753 	 1 	 3 	 0 	 [4, 0] 	 1
6754 	 1 	 3 	 3 	 [4, 0] 	 1
6755 	 1 	 3 	 3 	 [4, 0] 	 1
6756 	 1 	 3 	 3 	 [4, 0] 	 1
6757 	 1 	 3 	 3 	 [4, 0] 	 1
6758 	 1 	 3 	 3 	 [4, 0] 	 1
6759 	 1 	 3 	 3 	 [4, 0] 	 1
6760 	 1 	 3 	 3 	 [4, 0] 	 1
6761 	 1 	 3 	 3 	 [4, 0] 	 1
6762 	 1 	 3 	 3 	 [4, 0] 	 1
6763 	 1 	 3 	 3 	 [4, 0] 	 1
6764 	 1 	 3 	 3 	 [4, 0] 	 1
6765 	 1 	 0 	 3 	 [0, 3] 	 2
6766 	 1 	 0 	 0 	 [0, 3] 	 2
6767 	 1 	 3 	 0 	 [3, 0] 	 3
6768 	 1 	 3 	 3 	 [3, 0] 	 3
6769 	 1 	 3 	 3 	 [3, 0] 	 3
6770 	 1 	 3 	 3 	 [3, 0] 	 3
6771 	 1 	 3 	 3 	 [3, 0] 	 3
6772 	 1 	 3 	 3 	 [3, 0] 	 3
6773 	 1 	 0 	 3 	 [0, 3] 	 4
6774 	 1 	 0 	 0 	 [0, 3] 	 4
6775 	 1 	 0 	 0 	 [0, 3] 	 4
6776 	 1 	 0 	 0 	 [0, 3] 	 4